* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
    font-family: 'Open Sans';
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.work__item{
    width: 450px;
}

.work__item img{
    max-width: 100%;
}

.wrapper {
    /*  width:100%*/
}

.header {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    font-family: 'Trebuchet MS';
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.header__logo-link {
    color: #fff;
    text-decoration: none;
}

.intro::before {
    content: '';
    width: 450px;
    height: 830px;
    background-color: #754EF9;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: -1;
}

.header__navbar ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
}

.header__navbar a {
    border-radius: 23px;
    padding: 14px 45px;
    margin: 0px 20px;
    transition: .2s;
}

.header__navbar a:hover {
    background-color: #754EF9;
    color: #fff;
    box-shadow: -4px 6px 6px #e1e1e1;
}

.header__navbar a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

/* .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 40px;
}

.burger-menu__item {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    transition: .5s;
}

.burger-menu__item:before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    top: 7px;
}

.burger-menu__item:after {
    content: '';
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    bottom: 7px;
} */

.main-content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__cascade img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.cascade__layer-first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 480px;
    background-color: #754EF9;
    border-radius: 50%;
}

.cascade__layer-second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 440px;
    background-color: #FFF;
    border-radius: 50%;
}

.cascade__layer-third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    background-color: #ECECEC;
    border-radius: 50%;
}

.cascade__layer-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 330px;
    background-color: #754EF9;
    border-radius: 50%;
}

.container__main-text {
    position: relative;
}

.main__text--color-black {
    color: #000;
    font-family: 'Trebuchet MS';
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
}

.main__text--color-blue {
    color: #754EF9;
    font-family: 'Trebuchet MS';
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
}

.container__sub-text {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.container__main-text::before {
    content: '';
    width: 300px;
    height: 15px;
    position: absolute;
    top: 50px;
    left: 165px;
    background-color: rgb(255, 255, 255);
    box-shadow: -4px 6px 6px #e1e1e1;
    z-index: -1;
}

.container__main-text::after {
    content: '';
    width: 21px;
    height: 13px;
    background-color: #ffffff;
    position: absolute;
    top: 52px;
    left: 252px;
}

.button__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 90px;
}

.intro__button {
    width: 182px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__play-button {
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 8px #f3f0fe;
    border-radius: 50%;
}

.button__play-button img {
    width: 16px;
    height: 22px;
    border-radius: 0px;
}

.button__text {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
}

.socials {
    width: 24px;
    height: 345px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    writing-mode: vertical-lr;
    color: #754EF9;
    position: relative;
}

.socials__text::after {
    content: '';
    width: 55px;
    height: 1px;
    background-color: #754EF9;
    position: absolute;
    top: 52%;
    right: -60%;
    transform: rotate(90deg);
}

.socials__icon img {
    width: 20px;
    height: 20px;
    border-radius: 0px;
    margin-top: 27px;
    transition: .3s;
}

.socials__icon img:hover {
    transform: scale(1.3);
    transition: .3s;
}

.intro__becreative {
    margin-top: 70px;
    margin-left: 100px;
    margin-bottom: 78px;
}

.intro__becreative a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-line {
    width: 100%;
    height: 15px;
    background-color: #744EF3;
}

.capabilities {
    padding-top: 1px;
}

.capabilities__container {
    width: 905px;
    margin: 0 auto;
    margin-top: 84px;
    display: flex;
}

.capabilities__container-item {
    width: 904px;
    height: 462px;
    box-shadow: 3px 10px 10px #d8d6d9;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.capabilities__container-item:last-child {
    margin-right: 0px;
}

.capabilities__container-item:hover {
    transform: scale(1.1);
    transition: .4s;
}

.capabilities__container-item img {
    width: 60px;
    height: 60px;
    border-radius: 0px;
    margin-bottom: 49px;
}

.capabilities__container-item span {
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.capabilities__container-item span:nth-child(3) {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 100;
}

.container-item__button {
    margin-top: 77px;
    width: 120px;
    height: 30px;
    background-color: #754EF9;
    color: #FFF;
    font-size: 11px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 20px;
    cursor: pointer;
}

.container-item__button:hover {
    transition: .3s;
    background-color: #633fd7;
    box-shadow: 4px -3px 6px #e1e1e1;
}

.container-item__button:active {
    box-shadow: inset 0px 0px 1px #000;
}

.portfolio__container {
    max-width: 1088px;
    margin: 100px auto 0px auto;
}


.container__title h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
    width: 100%;
}

.container__title h2 {
    text-align: center;
    font: size 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #999999;
    width: 100%;
    margin-bottom: 60px;
}

.portfolio__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.work__item {
    position: relative;
    display: flex;
    margin-bottom: 28px;
    transition: .3s;
    box-shadow: 2px 5px 15px #a9a7a7;
    cursor: pointer;
    height: 350px;
    overflow: hidden;
}


.work__item:hover {
    box-shadow: 2px 5px 15px #a9a7a7;
    transition: .3s;
    transform: scale(1.02);
}

.work__overlay:hover{
    opacity: 0.9;
}

.work__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #754EF9;
    opacity: 0;
}

.overlay__main-text {
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS';
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.overlay__text__info {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 460px;
}

.testimonial__container {
    max-width: 825px;
    margin: 100px auto 0px auto;
}

.container__slider {
    width: 774px;
    height: 368px;
    box-shadow: 0px 5px 10px #cfcfcf;
    background-color: #fff;
    padding-top: 1px;
    margin: 0px auto 30px auto;
    position: relative;
}

.slider__item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track__container {
    width: 690px;
    height: 350px;
    overflow: hidden;
}

.slider__track{
    width: 690px;
    height: 350px;
    display:flex;
    align-items: center;
}

.slider__item_content {
    min-width: 690px;
    min-height: 350px;
}



.slider__item_arrow-left img {
    width: 30px;
    transform: rotate(180deg);
    margin: 5px;
    cursor: pointer;
}

.slider__item_arrow-right img {
    width: 30px;
    transform: rotate(0deg);
    margin: 5px;
    cursor: pointer;
}

.container__slider::before {
    content: '';
    width: 25px;
    height: 310px;
    background-color: #744DF7;
    position: absolute;
    top: 8%;
    left: -25px;
}

.container__slider::after {
    content: '';
    width: 25px;
    height: 310px;
    background-color: #744DF7;
    position: absolute;
    top: 8%;
    right: -25px;
}

.slider__cascade {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.slider__cascade img {
    width: 150px;
    height: 165px;
    position: absolute;
    top: 0px;
    left: -40px;
}

.slider__item_content:nth-child(2) img {
    width: 200px;
    height: 140px;
    position: absolute;
    top: 0px;
    left: -40px;
}

.slider__item_content:nth-child(3) img{
    width: 160px;
    height: 120px;
    position: absolute;
    top: 0px;
    left: -30px;
}

.slider__cascade_layer-first {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.slider__cascade_layer-second {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #9679FA;
    display: flex;
    justify-content: center;
    align-items: center
}

.slider__cascade_layer-third {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #B9A6FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__author-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.slider__main-text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    margin: 0 auto;
}

.slider__pagination {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 7%;
    margin: 0 auto;
}

.pagination__dot {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EAE4FE;
    margin-bottom: 100px;
    margin-top: 50px;
}

.pagination__dot-active {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #754EF9;
    margin-bottom: 100px;
    margin-top: 50px;
}

/* .slider__switcher::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EAE4FE;
    position: absolute;
    left: -30px;
}

.slider__switcher::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #EAE4FE;
    position: absolute;
    left: 30px;
} */

.container__form {
    margin: 20px auto 100px auto;
    text-align: center;
}

input:first-child {
    border: 1px solid #754EF9;
    width: 500px;
    padding: 16px 0px;
    text-transform: capitalize;
    transition: .5s;
    font-size: 15px;
}

input:focus-visible {
    outline: 1px #754EF9;
    box-shadow: 0px 0px 7px #754EF9;
    transition: .5s;
}

input:last-child {
    width: 160px;
    font-size: 15px;
    padding: 17px 0px;
    background: #754EF9;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

input:hover:last-child {
    box-shadow: 0px 0px 7px #754EF9;
    transition: .5s;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 160px;
    width: 100%;
    background-color: #754EF9;
    color: #fff;
}

.footer__row a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.footer__logo {
    color: #fff;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    font-size: 35px;
    font-weight: 700;
}

.footer__row-link {
    margin-right: 20px;
}

.footer__row-link:last-child {
    margin-right: 0px;
}

.footer__socials a {
    margin-right: 30px;
}

.footer__socials img:last-child {
    margin-right: 0px;
}

.popup-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.active {
    display: flex;
}

.popup {
    position: relative;
    font-family: 'Trebuchet MS';
    width: 60%;
    height: 80%;
    color: #A0F4EF;
    background: linear-gradient(90deg, #754EF9, #0085d4, #754EF9);
    border: 5px solid #00FE8F;
    border-radius: 10px;
}

.popup h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

.popup h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.popup h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.popup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  input.popup__form-input {
    color: #000;
    background: #c2faf6;
    box-shadow:inset 0px 0px 3px #000;
    font-size: 13px;
    font-style: italic;
    font-weight: 400px;
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 10px;
} 

.buttton_container {
    width: 100%;
}

.popup__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto;
    background: linear-gradient(45deg, #ebff55, #fff314);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    color: #343a3a;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.popup__button:active {
    box-shadow: inset 1px 0px 3px #000;
}

.popup__close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

 .popup .popup__close img{
    width: 35px;
    height:35px;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: rotate(360deg);
    cursor: pointer;
}

.popup img {
    width: 125px;
    height: 125px;
    position: absolute;
    bottom: 40px;
    right: 75px;
    transform: rotate(260deg);
}

.call__button img {
    width: 70px;
    position: fixed;
    top: 20px;
    right: 70px;
    cursor: pointer;
    animation: call_up_me 1.5s infinite;
}

@keyframes call_up_me {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
  }